/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *::after, *::before {
  box-sizing: inherit;
}
/* CSS VARIBLES*/
:root {
  --color-gradient-1: #37D5D6;
  --color-gradient-2: #36096D;
  --color-white-1: #fff;
  --color-label-text: #8a81e8;
}
/* MAIN CSS */
body {
  font-family: 'Titillium Web', sans-serif;
  background-image: linear-gradient(to right bottom, var(--color-gradient-1), var(--color-gradient-2));
  height: 100vh;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
.fadein {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
.page-wrap {
  width: 90rem;
  height: 50rem;
  background-color: var(--color-white-1);
  margin: 30px auto;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  perspective: 1px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15), 0px 6px 25px rgba(0, 0, 0, 0.35);
  align-items: center;
}
.logo-section {
  flex: 0 0 42%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid #eee;
}
.logo-section h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-left: 10px;
}
.logo-section .logo {
  height: 250px;
  margin-top: -25px;
  margin-left: 20px;
}
.login-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-section h1 {
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 15px;
}
.login-section form {
  width: 70%;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex: 1;
  justify-content: center;
}
.form-group label {
  flex: 0 0 30%;
  font-size: 17px;
  margin-right: 10px;
  color: var(--color-label-text);
  margin-top: 5px;
  display: none;
}
.form-group .input-control {
  flex: 1;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 13px 9px;
  align-self: center;
}
.form-group .input-control:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}
.form-group ::-webkit-input-placeholder {
  color: #ccc;
}
.btn-login {
  background-color: var(--color-gradient-1);
  color: var(--color-white-1);
  flex: 0 0 80%;
  border: none;
  padding: 16px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.btn-login:hover {
  background-color: #913cc3;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25), 0px 6px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.2);
}
.pConent {
  font-size: 1.6rem;
  color: #777;
}
.pConent a {
  color: var(--color-gradient-1);
}
.hidden {
  display: none;
}

#schedule{
  padding: 1.75rem;
  background-color: rgb(41, 41, 165);
  color:#d4d5e3;
  outline: none;
  border: none;
  border-radius: 9px;
}

#schedule:hover{
  background-color: rgb(70, 70, 185);
}

.submitBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}